@model IEnumerable<MvcEducation.Models.Attendance>


@{
    ViewBag.Title = "Index";
}
<style>
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}
    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #FFC0CB;
}
</style>
<h2>Attendance</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<br/>

<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Roll)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Roll)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <form>
                    <!--<label for="fname">First Name</label>-->
                    <input type="text" id="fname" name="firstname">
                </form>
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td> *@
        </tr>
    }

    </table>
